body {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Raleway";
  background-color:#ececec
}

h1 {
  font-family: "Raleway";
  font-weight:900;
  font-size: 80px;
  padding-left: 15%;
}

h3 {
  width:100%;
  font-weight:700;
  font-family:"Raleway";
  padding-left:4%;
  padding-bottom:4%;
  font-size:25px;
  border-bottom:solid 2px #374785;
  margin-bottom:0
}

/* ========    PAGES    ======== */

/* Login Page */

.auth-wrapper {
  padding-top:1%!important;
}

.title-row {
  border-bottom: 3px solid #F8E9A1;
  margin-right:-14%;
  margin-left:-14%;
  padding-bottom:1%;
  margin-top:0%
}

.pronunciation-text {
  font-family: "IM Fell Great Primer";
  font-size: 18px;
  padding-left: 3%;
  margin-top:3%;
  text-align: left;
  margin-bottom: 1%
}
.definition-text {
  font-family: "IM Fell Great Primer";
  font-size: 14px;
  font-weight:600;
  padding-right: 35%;
  text-align: right;
}

.border-row {
  height:3px;
  margin-right: -14%;
  margin-left:-14%;
}

.border-2 {
  background-color: #F76C6C
}

.border-3 {
  background-color: #A8D0E6
}

.border-4 {
  background-color: #374785
}

.border-5 {
  background-color: #24305E;
  margin-bottom: 3%
}

.login-card {
  background-color: #ececec;
  border:none
}

.input-row-name{
  margin-top:5%
}

.input-row-password {
  margin-bottom:6%
}

.login-input {
  background-color: #ececec;
  width: 90%;
  margin: 5%;
  border-bottom: 1px solid #24305E!important;
  border:none;
  font-size: 50px;
  font-weight: 800;
  margin-top:2%;
  margin-bottom:2%;
}

.login-input:focus {
  border:none!important
}

.img-card-login {
  background-image:url("./assets/content-imgs/gybe.jpg");
  background-size:100%;
  margin-bottom:1%;
  
}

.img-card-content {
  opacity: 0%;
  background-color:#ececec;
  margin:0%;
  transition: opacity 1s ease;
}

.img-card-content:hover {
  opacity: 95%;
  transition: opacity 1s ease;
}

.login-btn {
  color: #F76C6C;
  font-weight:600
}

.signup-btn {
  color: #24305E;
  font-weight:600
}

.desc-header {
  font-weight:800;
  font-size:30px;
  color: #F76C6C;
  margin-bottom:10%;
}

.desc-body {
  font-size:20px;
  margin-top:0%;
  margin-bottom:0%
  
}

.simple1{
  font-size: 20px;
  font-weight: 600;
  color: #374785;
  margin-bottom: 0;
  margin-top:10%
}

.simple2 {
  font-size:30px;
  font-weight:800;
  color: #F76C6C
}

.quote-row {
  margin-top:0%;
}

/* Register Page */

.outer-col {
  border:  1px solid black;
  border-radius: 10px;
  background-image:url("./assets/content-imgs/badu.jpg");
  min-height: 600px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.inner-row {
  height:80%;
}
.inner-col {
  height:100%;
  margin-left:7%;
  opacity:0.9;
  transition: opacity 1s ease-in-out;
}

.inner-col:hover{
  opacity:1;
  transition: opacity 1s ease-in-out;
}

.signup-title-text {
  color:#ececec;
  font-weight:800;
  font-size:80px;
  font-family: "Raleway";
  width:100%;
  margin-top:10%;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}

.register-card {
  height: 80%;
  margin-top:10%;
  margin-bottom:10%;
  background-color:#ececec;
  border: 1px solid black;
  border-radius:10px;
  opacity:0.9;
  transition: opacity 1s ease;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.register-card:hover{
  opacity: 1;
  transition: opacity 1s ease;

}

.signup-input {
  background-color: #ececec;
  width: 90%;
  margin: 5%;
  border-bottom: 1px solid #24305E!important;
  border:none;
  font-size: 25px;
  font-weight: 800;
  margin-top:2%;
  margin-bottom:2%;
}

.signup-input:active{
  border:none!important
}

/* Profile Page */

.profile-row-top {
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785;
  margin-top:5%;
  margin-bottom:1%;
  background-image:url("./assets/content-imgs/blackflag.jpg");
  background-size: cover;
}

.profile-col {
  height:inherit
}

.profile-card-top{
  background-color:#ececec;
  opacity:.9;
  border: 2px solid #F8E9A1;
  min-height:545px;
  transition: opacity 0.5s ease-in-out;
}

.profile-card-top:hover,
.profile-card-bottom:hover{
  opacity:1;
  transition: opacity 0.5s ease-in-out;
}

.profile-card-body-top,
.profile-card-body-bottom{
  border: 2px solid #374785;
}

.profile-username-text{
  font-family: "Raleway";
  font-weight: 800;
  font-size: 30px;
  padding-left:5%;
};

.profile-img{
  padding-left:4%;
  border: 1px solid transparent;
  border-radius:10px
}

.profile-realname-text{
  padding-left:4%;
  padding-top:5%;
  font-size:20px;
  font-weight:600
}

.profile-membersince-text{
  padding-left:4%;
}

.follow-btn{
  color:#F76C6C;
  padding-left:4%;
  padding-top:0%;
  font-size:16px;
  font-family: "Raleway";
  font-weight:600
}

.profile-quote-row{
  padding-top:1%;
  padding-bottom:1%;
}

.profile-row-bottom{
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785;
  margin-top:0%;
  background-image:url("./assets/content-imgs/alanis.jpg");
  background-size: cover;
  min-height: 543px;
}

.profile-card-bottom{
  height: 440px;
  background-color:#ececec;
  opacity:.9;
  border: 2px solid #F8E9A1;
  transition: opacity 0.5s ease-in-out;
  overflow: scroll;
}

.list-row{
  border-top:2px solid #F76C6C;
  overflow: scroll;
}

.profile-detail-display-row {
  margin-top:5%;
  background-image: url("./assets/content-imgs/kennedys.jpg")!important
}

.cloud-header-text {
  font-size:30px;
  font-weight: 600;
  text-transform: lowercase;
  text-align: center;
  width:100%
}

.profile-pic-card {
  width: 300px;
  height: 300px;
  margin-left:4%;
  border-radius:10px
}

.profile-pic-card-body {
  width: 100%;
  height: 100%;
  background-color:#2a2a2a;
  color: #ececec;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

.profile-pic-card-body:hover{
  opacity:0.9;
  transition: opacity 0.5s ease-in-out;
}

.profile-pic-card-body-text {
  width:100%;
  text-align: center;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 600;
  margin-top:40%;

}

/* Search Page */

.search-row-top {
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785;
  margin-top:5%;
  margin-bottom:1%;
  background-image:url("./assets/content-imgs/pearljam.jpg");
  background-size: cover;
}

.input-row-search {
  width:100%;
  font-size:30px;
  font-family:"Raleway";
  font-weight:500;
  border: none;
  border-bottom: 1px solid black;
  background-color:#ececec
}

.input-row-search:focus{
  outline: none!important;
  background-color:#ececec!important
}

.input-row-search:enabled{
  background-color:#ececec!important;
}

.search-submit-btn {
  width:100%;
  text-align: left;
  font-size:30px;
  font-weight:800;
  padding-left:0;
}

.search-submit-btn:hover{
  color:#F76C6C;
  text-decoration: none;
  font-weight:900;
}

.search-card-top{
  background-color:#ececec;
  opacity:.9;
  border: 2px solid #F8E9A1;
  min-height:338px;
  transition: opacity 0.5s ease-in-out;
}

.search-card-top:hover,
.search-results-card:hover,
.search-detail-card:hover{
  opacity:1;
  transition: opacity 0.5s ease-in-out;
}

.search-card-body-top,
.search-results-card-body,
.search-detail-card-body{
  border: 2px solid #374785;
}

.search-row-middle {
  margin-bottom:3%;
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785;
  background-image:url("./assets/content-imgs/mitski.jpg");
  background-size: cover;
}

.search-row-bottom {
  margin-bottom:3%;
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785;
  background-image:url("./assets/content-imgs/wutang.jpg");
  background-size: cover;
}

.search-results-card,
.search-detail-card{
  background-color:#ececec;
  opacity:.9;
  border: 2px solid #F8E9A1;
  transition: opacity 0.5s ease-in-out;

}

#invisible-list,
#invisible-detail,
#invisible-card{
  display:none;
  transition: display 2s ease-in-out
}

#visible-list,
#visible-detail,
#visible-card{
  display:flex;
  transition: display 2s ease-in-out
}

.detail-card{
  width:100%
}



/* ========    COMPONENTS    ======== */

/* Nav */

.navbar {
  background-color: #2a2a2a!important;
  border:  2px solid #F8E9A1;
  outline: 2px solid #374785
}

.navbar-brand {
  font-family: "Raleway";
  text-transform: lowercase;
  font-size: 40px;
  font-weight:800;
  padding: 0% 0% 0% 4%;
  color: #ececec
}

.logout {
  font-family: "Raleway"!important;
  text-transform: lowercase!important;
}

.logout:hover{
  font-weight:900!important;
  text-decoration:none
}

.link-logout,
.link-logout:hover {
  color:#F76C6C;
}

.link-discover,
.link-discover:hover {
  color:#A8D0E6
}

.link-profile,
.link-profile:hover {
  color:#F8E9A1
}

#a{
  color: #F76C6C;
  font-weight:900
}

#c{
  color:#4659a8;
  font-weight:900
}

#p{
  color:#F8E9A1;
  font-weight:900
}

#t{
  color:#A8D0E6;
  font-weight:900
}

/* RandomQuote */

.quote-div{
  color:#ececec;
  transition: color 1s ease-in-out;
}

.quote-div:hover{
  color:black;
  transition: color 1s ease-in-out
}

.quote-body {
  font-family: "IM Fell Great Primer";
  font-size:18px;
  margin-bottom:1%;
  font-style: italic;
  color:inherit;
}

.quote-attr {
  font-family: "IM Fell Great Primer";
  font-size:12px;
  margin-top:1%;
  color:inherit;
}

/* Accordion */

.accordion-header-text{
  font-family: "Raleway";
  font-size: 20px;
  width:100%;
  text-align: center;
  margin: 1% 1% 1% 0%
}

.toggle-header{
  padding: 1% 1% 1% 1%
}

.connection-card-body {
  background-color:#2a2a2a;
  opacity:0;
  transition: opacity 0.5s ease-in-out;

}

.connection-card-body:hover{
  opacity:0.9;
  transition: opacity 0.5s ease-in-out;
}

.connection-hover-text{
  font-family: "Raleway";
  font-size: 14px;
  font-weight:600;
  color: #ececec
}

/* AlbumList */

.col-tracklist {
  min-height: 335px;
}

.search-detail-album-text{
  font-family:"Raleway";
  font-size: 40px;
  font-weight:800;
  color:black;
  text-transform: lowercase;
  padding-left:1%;
  width:100%;
}

.search-detail-artist-text{
  font-family:"Raleway";
  font-size:30px;
  font-weight:600;
  color:rgb(90, 90, 90);
  text-transform: lowercase;
  padding-left:2.5%;
  width:100%;
}

.detail-title-row{
  margin-top:0%
}

.search-detail-btn-queue,
.search-detail-btn-rec,
.search-detail-link-ext{
  color:#F76C6C;
  font-family:"Raleway";
  font-size: 20px;
  font-weight:600;
  transition: font-weight 0.15s ease-in-out;
  transition:color 0.15s ease-in-out

}

.search-detail-btn-queue:hover,
.search-detail-btn-rec:hover,
.search-detail-link-ext:hover{
  font-weight:800;
  text-decoration:none;
  transition:font-weight 0.15s ease-in-out
}

.search-detail-btn-queue:hover{
  color:#4659a8;
  transition:color 0.15s ease-in-out
}

.search-detail-btn-rec:hover{
  color:#F8E9A1;
  transition:color 0.15s ease-in-out
}

.search-detail-link-ext:hover {
  color: #A8D0E6;
  transition:color 0.15s ease-in-out
}

.search-detail-tracklist-header {
  font-size:25px;
  font-weight:800;
  font-family:"Raleway";
}

#hide{
  display:none;
  transition:display 0.5s ease-in-out
}

#show{
  display: block;
  transition:display 0.5s ease-in-out
}

.rec-queue-stats-row{
  padding-top:100%;
  padding-left: 10%;
}

.rec-queue-stats-text{
  margin-bottom:0;
  font-family:"Raleway";
  font-size: 14px

}

.rec-queue-stats-btn{
  padding-top:2px;
  padding-left:0;
  font-size:14px;
  font-weight:600;
  transition: color 0.15s ease-in-out;
}

.rec-queue-stats-btn:hover{
  font-weight:800;
  text-decoration: none;
  color:#4659a8;
  transition: color 0.15s ease-in-out;
}

.profile-link{
  color:blue
}

/* TrackList */

.track-list-text{
  font-family:"Raleway";
  margin-bottom:10%;
  font-size:15px;
  color:rgb(90, 90, 90);
  font-style:italic;
  text-transform: lowercase;
  transition:font-weight 0.15s ease-in-out

}

.track-list-text:hover{
  text-decoration:none!important;
  color:black;
  font-weight:600;
  transition:font-weight 0.15s ease-in-out
}

.track-list-div{
  margin-bottom:3%;
}

/* User List */

.user-list-card{
  height: 145px;
  width: 145px;
  margin-top:15%;
  background-size: cover;
}

.list-card-body {
  background-color: #2a2a2a;
  opacity: 0;
  padding-bottom: 10%;
  height:100%!important
}

.list-card-body:hover {
  opacity: .9;
  transition: opacity 0.5s ease-in-out
}

.userlist-card-hover-text {
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom:2%;
  font-family: "Raleway";
  font-size: 12px;
  text-transform: lowercase
}

.userlist-album-album{
  font-weight: 600
}

.userlist-album-button{
  margin-top: 25%;
}

.userlist-album-button:hover{
  text-decoration: none;
  color: #A8D0E6
}

/* WordCloud */

.tag-cloud {
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding:3%;
  background-color: #2a2a2a;
  font-weight:600;
  text-transform: lowercase

}

/* Cloudinary Widget (unlisted) */

.drag_area{
  background-color:#F76C6C!important;
}

